<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001303176624-83bmii7cclrae65u8gvbgci32mq6ult0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001303176624-83bmii7cclrae65u8gvbgci32mq6ult0</string>
	<key>API_KEY</key>
	<string>AIzaSyBMCKrCwRoVvM3Oo5Rq0ISjNTkmjuh72wM</string>
	<key>GCM_SENDER_ID</key>
	<string>1001303176624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plantSocialFlutter</string>
	<key>PROJECT_ID</key>
	<string>plant-social-a2177</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-social-a2177.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001303176624:ios:5f50f1cf26a4b64cce1275</string>
</dict>
</plist>